
.floor06_content_son .floor06_bannar{width:100%;}
.floor06_content_son .floor06_bannar .img{width:100%;}
.floor06_content_son .ul{width:102%;}
.floor06_content_son .ul .li{width:48%;float: left;margin-right:2%;margin-top:2%;}
.floor06_content_son .ul .li .img{width:100%;}
