@charset "utf-8";
/* base common style */      
html,body{padding:0; margin:0;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0 }
body, button, input, select, textarea { font: 12px/1.5 "Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu; color:#666 }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
address, cite, dfn, em, var { font-style: normal }
ul, ol, dl { list-style: none }
a { text-decoration: none !important; outline: none ;font-family:"Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;cursor: pointer;}
img { border: 0 }
button, input, select, textarea { font-size: 100% ;font-family:"Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;outline: none;}
table { border-collapse: collapse; border-spacing: 0 }
.clearfix {*zoom:1;}
.clearfix:after{display:block;clear:both;content:"\0020";visibility:hidden;height:0;}
.global_wrap{position: relative;min-height:100%; clear: both; content: ""; }
.ielt7 .global_wrap{height:100%; }
#clsIframe,#LR_Flash{position: absolute;}
.col_l{float: left;*display: inline;}
.col_r{float: right;*display: inline;}
.ect{text-overflow:ellipsis; overflow: hidden; white-space: nowrap;}
.erro{
	position: absolute;
	top: 36px;
	left: 0;
	font-size:12px;
	color: #c7c7c7;
}
.zxbj-calc-wrap .erro em {
 	position: static; 
 	background: url(../../calc/images/sjybj_global.html) no-repeat;
 	_background: url(../../calc/images/sjybj_global-2.html) no-repeat;  
    background-position: 0 -892px; 
    width: 18px;
    height: 12px; 
    display: inline-block; 
    margin-right: 8px;
}

.zxbj-calc-wrap {
	overflow: hidden;
    width: 244px;
    background: #464857 url('../../calc/images/zxbj_widget_bg.jpg') no-repeat center bottom; 
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}
.zxbj-calc-header {
	height: 137px;
	background: url('../../calc/images/zxbj_calc_header.png') no-repeat;
}
.zxbj-calc-header h3 {
	height: 38px;
	line-height: 38px;
	color: #f26f2f;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
}
.calc-header-total {
	width: 210px;
	height: 58px;
	margin: 10px auto;
	_margin-left:15px;
}
.calc-header-total em {
	float: right;
	height: 58px;
	padding: 0 10px;
	line-height: 80px;
}
.calc-header-total span {
	float: right;
	padding-left: 12px;
	line-height: 70px;
	font-weight: bold;
	color: #f26f2f;
	font-size: 30px;
}
.zxbj-calc-con {
	width: 212px;
	margin: 0 16px;
	padding-top: 15px;
	padding-bottom: 12px;
}
.zxbj-calc-con .element {
	position: relative;
	margin-bottom: 18px;
	width: 212px;
	height: 34px;
}
.zxbj-calc-con .element select {
	width: 100px;
	height: 34px;
	padding: 0 6px;
	border: 1px solid #ccc;
	font-size: 12px;
	color: #333;
}
.zxbj-calc-con .element select.province {
	float: left;
}
.zxbj-calc-con .element select.city {
	float: right;
}
.zxbj-calc-con .text {
	width: 190px;
	*width: 210px;
	height: 34px;
	padding: 0 10px;
	border: 1px solid #ccc;
	line-height: 34px;
	outline: none; 
}
.zxbj-calc-con .element b {
	position: absolute;
	top: 1px;
	left: 1px;
	height: 34px;
	padding: 0 10px;
	line-height: 34px;
	color: #999;
	font-weight: normal;
}
.zxbj-calc-con .element .unit {
	position: absolute;
	top: 0;
	right: 8px;
	height: 34px;
	line-height: 34px;
	font-style: normal;
}
.zxbj-calc-con .submit-btn {
	display: block;
	width: 212px;
	height: 36px;
	background: #f25618;
	line-height: 36px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.calc-explain {
	line-height: 18px;
	color: #0eaf63;
	font-size: 12px;
}
.zxbj-calc-result {
	width: 218px;
	margin: 10px 12px;
}
.calc-code {
	width: 100px;
	height: 100px;
	margin: 10px 54px 5px;
	padding: 5px;
	background: url("../../calc/images/calc_code.html") no-repeat;
}
.calc-code img {
	display: block;
	width: 100px;
	height: 100px;
	background: #fff;
}
.calc-code-tips p {
	height: 24px;
	line-height: 24px;
	color: #fff;
	text-align: center;
}
.calc-code-tips p a {
	color: #f26f2f;
}
/* 修改右侧发标文案 */
.new-calc-header-total{
	*width: 220px;
}
.new-calc-header-total .new-calc-header-home{
	float: left;
	padding-right: 0;
  	color: #999;
}
.new-calc-header-total .new-calc-header-money{
	padding-left: 0;
	color: #333;
}
.new-calc-header-total .new-calc-header-number{
	padding-left: 0;
}
.new-num-tab{
	overflow: hidden;
	position: relative;
}
.new-num-tab .new-calc-header-money{
	font-size: 16px;
	line-height: 66px;
}
.new-calc-header-total .new-tab-num1{
	float: none;
	position: absolute;
	top: 0px;
	right: 45px;
	line-height: 58px;
}
.new-calc-header-total .new-tab-num2{
	float: none;
	position: absolute;
	top: 50px;
	right: 45px;	
	line-height: 58px;
}
.stochastic-price-p1,.stochastic-price-p2{
	height: 58px;
}
.stochastic-price-p1 span{
	float: none;
	position: absolute;
	top: 0px;
	right: 45px;
	line-height: 58px;
}
.stochastic-price-p2 span{
	float: none;
	position: absolute;
	top: 50px;
	right: 45px;
	line-height: 58px;
}
.stochastic-price-p1 .new-tab-num11,.stochastic-price-p2 .new-tab-num21{
	right: 92px;
}
.stochastic-price-p1 .new-tab-num12,.stochastic-price-p2 .new-tab-num22{
	right: 73px;
}
.stochastic-price-p1 .new-tab-num13,.stochastic-price-p2 .new-tab-num23{
	right: 64px;
}
.stochastic-price-p1 .new-tab-num14,.stochastic-price-p2 .new-tab-num24{
	right: 45px;
}
.stochastic-price-p2 .new-tab-num25{
	display: none;
	right: 45px;
}